<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="rest-demo.ZPM">
    <Module>
      <Name>rest-demo</Name>
      <Version>0.0.1</Version>
      <Description>REST performance demo</Description>
      <Keywords>REST API, performance</Keywords>
      <Packaging>module</Packaging>
      <!--CSPApplication Url="/csp/demo" SourcePath="/init/html" DeployPath="/usr/irissys/csp/test" ServeFiles="1" Recurse="1" CookiePath="/demo" /-->
      <CSPApplication Url="/csp/demo" SourcePath="/init/html" DeployPath="${cspdir}" ServeFiles="1" Recurse="1" CookiePath="/demo" />
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="Demo.PKG"/>
    </Module>
  </Document>
</Export>
